section.movie
  figure
    .starwars-iv
      .line
    figcaption
      h2.poster__title Star Wars: Episode IV A New Hope
      .credits
        .credits__section
          small.credits__legend Starring
          p.credits__copy Harrison Ford. Mark Hamill
          p.credits__copy Carrie Fisher. Alec Guiness
        .credits__section
          small.credits__legend Story / Screenplay
          p.credits__copy George Lucas
        .credits__section
          small.credits__legend Music
          p.credits__copy John Williams
        .credits__section
          small.credits__legend Directed By
          p.credits__copy George Lucas
        .credits__year 1977
