@charset 'utf-8';

.nav {
  color: palette(gold); // sass-lint:disable-line no-color-keywords, no-color-literals
  display: inline-block;
  font-family: 'adobe-caslon-pro';
  font-size: 14px;
  position: fixed;
  right: 20px;
  top: 65px;
  transform: rotate(270deg);
  transform-origin: 50% 0%;

  a {
    border-bottom: 1px solid palette(gold); // sass-lint:disable-line no-color-keywords, no-color-literals
    line-height: 20px;
  }
}
