meta(name='hdl', content='Movie Posters')
meta(name='alternativeHeadline', content='Movie Posters in HTML and CSS')
meta(name='genre', content='Website')
meta(name='author', content='Yair Rodriguez')
meta(name='pdate', content='20170115')
meta(name='utime', content='20170115115955')
meta(name='ptime', content='20170115115955')
meta(name='DISPLAYDATE', content='January 15, 2017')
meta(name='dateModified', content='2017-01-15')
meta(name='dat', content='January 15, 2017')
meta(name='byl', content='By YAIR RODRIGUEZ')
meta(name='keywords', content='Movie, Posters, HTML, CSS, Frontend')
meta(name='news_keywords', content='Movie, Posters, HTML, CSS, Frontend')

meta(itemprop='image' content='http://posters.wtf/images/logo.png')
meta(name='Section', content='Blog')
meta(name='Subsection', content='Yair Rodriguez')
meta(name='DisplayDate', content='2017-01-15')
meta(name='Author', content='Yair Rodriguez')

meta(itemprop='name headline mainEntityOfPage', content='Movie Posters')
meta(itemprop='author', itemtype='http://schema.org/Person', content='Yair Rodriguez')
meta(itemprop='description', name='description', content='A circle and two diagonals into a square. Built with HTML and CSS.')
meta(itemprop='url', content='http://posters.wtf')
meta(itemprop='genre', content='Website')
meta(itemprop='inLanguage', content='en-US')

meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@imyairodriguez')
meta(name='twitter:site:id', content='169319552')
meta(name='twitter:creator', content='@imyairodriguez')
meta(name='twitter:creator:id', content='169319552')
meta(name='twitter:title', content='Movie Posters')
meta(name='twitter:description', content='A circle and two diagonals into a square. Built with HTML and CSS.')
meta(name='twitter:image' content='http://posters.wtf/images/logo.png')
meta(name='twitter:image:alt', content='A circle and two diagonals into a square.')
meta(name='twitter:domain', content='http://posters.wtf')

meta(property='og:url', content='http://posters.wtf')
meta(property='og:type', content='article')
meta(property='og:title', content='Movie Posters')
meta(property='og:description', content='A circle and two diagonals into a square. Built with HTML and CSS.')
meta(property='og:image', content='http://posters.wtf/images/logo.png')
meta(property='article:author', content='Yair Rodriguez')
meta(property='article:publisher', content='http://facebook.com/imyairodriguez/')
meta(property='article:published_time', itemprop='datePublished', content='2017-01-15')
meta(property='article:modified_time', itemprop='dateModified', content='2017-01-15')
meta(property='article:section', content='Design')
meta(property='article:section_url', content='http://posters.wtf')
meta(property='article:tag', content='Code, Art, HTML, CSS, Posters')
meta(property='fb:admins', content='100001118537951')
meta(property='fb:profile_id', content='100001118537951')
meta(property='fb:pages', content='1813787172230717')
meta(property='og:locale', content='en_US')
meta(property='og:locale:alternative', content='es_MX')
meta(property='og:locale:alternative', content='es_ES')
meta(property='og:site_name', content='Movie Posters')

meta(name='robots', content='index, follow')
link(rel='canonical', href='http://posters.wtf')
link(rel='author', href='https://plus.google.com/117936569540385707721')
link(rel='publisher', href='https://plus.google.com/117936569540385707721')
meta(name='google-site-verification', content='')
