@charset 'utf-8';

$palette: (
  cinder:           #101019,
  gold:             #FFD30B, // sass-lint:disable-line no-color-keywords
  shuttle-gray:     #576170,
  slate-gray:       #707D90,
  outer-space:      #2B3239
);
