@charset 'utf-8';

@include test-module('Sass :: palette function') {
  @include test('Should return the appropiate HEX value from $palette slate-gray property') {
    $actual: palette(slate-gray);
    $expected: #6F7C8E;

    @include assert-equal($actual, $expected);
  };

  @include test('Should return the appropiate HEX value from $palette outer-space property') {
    $actual: palette(outer-space);
    $expected: #212C30;

    @include assert-equal($actual, $expected);
  };
}
