doctype html
html
  head
    title Grid Movies
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    link(rel='stylesheet', href='https://necolas.github.io/normalize.css/5.0.0/normalize.css')
    link(rel='stylesheet', href='styles/gridmovies.css')
    script(src='https://use.typekit.net/cxl6bnr.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
  body
    include ./components/starwars-iv
